<% layout("layouts/boilerplate") %>
   
 
    <div class="container mt-4">
        <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
        <form method="post" action="/listing" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="listing[title]" class="form-control"  placeholder="Enter title" required>
                <div class="valid-feedback">Title Looks Good</div>
                 <div class="invalid-feedback"> Title should be valid   </div>
                
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="listing[description]" class="form-control" placeholder="Describe your listing..." required></textarea>
                <div class="invalid-feedback">description should be valid  </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" id="image" name="listing[image]" class="form-control" placeholder="Enter image URL" required>
                <div class="invalid-feedback"> Image Should be Valid</div>
            </div>
            
           <div class="row">

            <div class="mb-3 col-mid-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" id="price" name="listing[price]" class="form-control" placeholder="1200" min="1" required>
                <div class="invalid-feedback"> Price Should  be  Valid </div>
            </div>

            <div class="mb-3 col-mid-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" id="country" name="listing[country]" class="form-control" placeholder="india" required>

                <div class="invalid-feedback"> country Name Should be Valid</div>

           
            </div>

           </div>
    
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" name="listing[location]" class="form-control" placeholder="Kolkata West Bengal" required>
                <div class="invalid-feedback"> Please Enter The Location</div>
            </div>

            <button type="submit" class="btn btn-dark  Add-btn">Add</button>
        </form>
    </div>
</div>

